.form-close:hover
    {
        color: red !important;
    }

.partner-logo
    {
        width: 22% !important;
    }

.topbar-img
    {
        width: 158% !important;
        margin-left: -18px !important;
    }
.filter-right
    {
        margin-right: -57% !important;
    }




